<p>
  <b>Affiliate:</b>
  <%= link_to @event.affiliate.org_name, affiliate_path(@event.affiliate) %>
</p>

<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Url:</b>
  <%= autolink(@event.url) %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>