<div class='site_box' style="background-image:url('');">
	<div class="label transparent_class">
		<a href="http://www.<%= affiliate.url %>"><%= affiliate.url %></a><br /> 
		<%= afliliate:get_ip %>
		<%= link_to 'Edit', edit_affiliate_path(affiliate) %>
   <%= link_to 'Destroy', affiliate, :confirm => 'Are you sure?', :method => :delete %>
	</div>
	
</div>