<p>
  <%= f.label :org_name %> 
  <%= f.text_field :org_name %>
</p>
	  <p>
  <%= f.label :domain %> 
  <%= f.text_field :domain %>
</p>
<p>
  <%= f.label :url %> 
  <%= f.text_field :url %>
</p>
 <p>
   <%= f.submit label_text %>
 </p>