<p>
  <%= f.label :org_name %><br />
  <%= f.text_field :org_name %>
</p>
	  <p>
  <%= f.label :domain %><br />
  <%= f.text_field :domain %>
</p>
<p>
  <%= f.label :url %><br />
  <%= f.text_field :url %>
</p>