
<h1>UCP Affiliates</h1>


<% @feed.each do |org, a| %>
	<h1><%= a["affiliate_id"].chomp(';') %> - <%= a["affiliate_name"].chomp(';') %> (<%= a["affiliate_name_abbr"].chomp(';') %>)</h1>
<p><%= a["affiliate_address1"].value.chomp(';') %><br />
  <%= a["affiliate_address2"] %><br />
  <%= a["affiliate_city"].chomp(';') %>, <%= a["affiliate_state"].chomp(';') %>  <%= a["affiliate_zip"].chomp(';') %>
</p>
  <%= a["affiliate_contact_first_name"].chomp(';') %>
  <%= a["affiliate_contact_last_name"].chomp(';') %>
  <%= a["affiliate_contact_name"].chomp(';') %>
  <%= a["affiliate_contact_email"].chomp(';') %>
    <%= a["affiliate_phone1"].chomp(';') %>
  <%= a["affiliate_phone2"].chomp(';') %>
  <%= a["affiliate_tty"].chomp(';') %>
  <%= a["affiliate_fax"].chomp(';') %>
  <%= a["affiliate_email"].chomp(';') %>
  <%= a["affiliate_url"].chomp(';') %>
  <%= a["affiliate_description"].chomp(';') %>
  <%= a["affiliate_metric"].chomp(';') %>
  <%= a["affiliate_activate"].chomp(';') %>
  <%= a["affiliate_public"].chomp(';') %>
  <%= a["affiliate_region"].chomp(';') %>
  <%= a["affiliate_province"].chomp(';') %>
  <%= a["affiliate_country"].chomp(';') %>
  <%= a["affiliate_type"].chomp(';') %>
  <%= a["affiliate_template"].chomp(';') %>
  <%= a["affiliate_state_ind"].chomp(';') %>
<% end -%>