
<h1>UCP Affiliates</h1>


<% @feed.each do |org| %>
<h1><%= org["affiliate_name"] %></h1>
<%= org["affiliate_name"] %>
<%= org["affiliate_url"] %>
<%= org["affiliate_city"] %>
<%= org["affiliate_state"] %>
<%= org["affiliate_zip"] %>
<%= org["affiliate_activate"] %>
