<% if @affiliates   %>
<%= make_map(@affiliates) %>
<%= @map.div(:width => 700, :height => 400) %>
<% end -%>

<h1>UCP Affiliates <%= @filtered_by %></h1>
<table>
	<thead>
		<tr>
			<th>Organization Name</th>
			<th>Organization URL </th>
			<th>Date of Thumbnail</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
<% @affiliates.each do |affiliate| %>
		<tr>
			<td><%= affiliate.name_abbr %> (<%= link_to 'Details', affiliate_path(affiliate) %>)</td>
			<td><%= autolink(affiliate.url) %></td>
			<td><%= affiliate.thumbnail_last_updated %> <br /> <%= link_to 'Regenerate now', :controller => "affiliates", :action => "regenerate_thumb", :id => affiliate %></td>
			<td><%= affiliate.active? %> </td>
		</tr>
<% end -%>
	</tbody>

</table>
