<% content_for :filter do -%>
			<%= render :partial => 'affiliates/filter' %>
<% end -%>
<% if @affiliates   %>
	<%= make_map(@affiliates) %>
	<%= @map.div(:width => 700, :height => 400) %>
<% end -%>

<h1>UCP Affiliates <%= @filtered_by %></h1>
<table>
	<thead>
		<tr>
			<th>Organization Name</th>
			<th>Organization URL </th>
			<th>Address</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
<% @affiliates.each do |affiliate| %>
		<tr class="<%= cycle("even", "odd") -%>">
			<td><%= affiliate.name_abbr %> (<%= link_to 'Details', affiliate_path(affiliate) %>)</td>
			<td><%= autolink(affiliate.url) %></td>
			<td><%= generate_gmap_info_window(affiliate) %> </td>
			<td><%= affiliate.active? %> </td>
		</tr>
<% end -%>
	</tbody>

</table>
