
<h1>UCP Affiliates</h1>

<ul>
<% @affiliates.each do |affiliate| %>
  <li><a href="http://www.<%= affiliate.url %>"><%= affiliate.url %></a> 
		<%= get_ip(affiliate.url)  %> 
		<%= link_to 'Edit', edit_affiliate_path(affiliate) %>
   <%= button_to 'Destroy', affiliate, :confirm => 'Are you sure?', :method => :delete %>
	</li>
<% end %>
</ul>