
	<h1><%=h @affiliate.org_name %> (<%= @affiliate.name_abbr %>) </h1>

<div id="screenshot">
	<%= render :partial => @affiliate %>
</div>
	<%= makp_affiliate(@affiliate) %>
	<%= @map.div(:width => 300, :height => 200) %>
<div id="info_block">
	

<p id="description"><%= @affiliate.description %></p>


<div id="address"><%= @affiliate.address1 %><br />
  <%= @affiliate.city %>, <%= @affiliate.state %>  <%= @affiliate.zip %> <br />
	<%= @affiliate.province unless @affiliate.province.empty? %> <%= @affiliate.country unless @affiliate.country.empty? %>  <br />
	<%= 'Ph: ' + @affiliate.phone1 unless @affiliate.phone1.empty? %>  
	<%= 'Ph2: ' + @affiliate.phone2 unless @affiliate.phone2.empty? %>  
	<%= 'tty: ' + @affiliate.tty unless @affiliate.tty.empty? %> <br />  
	<%= 'Fax: ' + @affiliate.fax unless @affiliate.fax.empty? %>  
	<%= auto_link(@affiliate.email) unless @affiliate.email.empty? %>  
  
  <%= autolink @affiliate.url %>
</div>
 <p><%= @affiliate.contact_name %> (<%= @affiliate.contact_email %>)</p>

</div>
<div id="tech_stuff">
<h2>Technical info</h2>	
  <ul>
		<li>AFFnet id:           <%= @affiliate.siteid %></li>
  	<li>Orgtype:         <%= @affiliate.type %></li>
		<li>Status: <%= @affiliate.active? %></li>
  	<li>metric:              <%= @affiliate.metric %>     </li>
  	<li>public:              <%= @affiliate.public %>     </li>
  	<li>template:            <%= @affiliate.template %>   </li>
		<li>state_ind:           <%= @affiliate.state_ind %></li>
  </ul> 
    
</div>

<% unless @affiliate.events.empty? %>
	<div id="events">
	<h2><%= pluralize(@affiliate.events.count, 'Event') %> (will be only upcoming)</h2>
	<ul>
		<%= render :partial => @affiliate.events %>
	</ul>
	</div>
<% end -%>

<%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%= link_to 'Back', affiliates_path %>