<h1><%=h @affiliate.org_name %> (<%= @affiliate.name_abbr %>) <%= @affiliate.active? %> </h1>
<p><%= @affiliate.type %></p>
<p>
  <b>Url:</b>
  <%=h @affiliate.url %>
</p>

<p><%= @affiliate.address1 %><br />
  
  <%= @affiliate.city %>, <%= @affiliate.state %>  <%= @affiliate.zip %>
</p>
 <p><%= @affiliate.contact_name %> (<%= @affiliate.contact_email %>)</p>
    <%= @affiliate.phone1 %>
  <%= @affiliate.phone2 %>
  <%= @affiliate.tty %>
  <%= @affiliate.fax %>
  <%= @affiliate.email %>
  <%= @affiliate.description %>
  <%= @affiliate.metric %>
  <%= @affiliate.public %>
  <%= @affiliate.region %>
  <%= @affiliate.province %>
  <%= @affiliate.country %>
  <%= @affiliate.template %>
  <%= @affiliate.state_ind %>
<h2>Events</h2>
<% render :partial => @affiliate.events %>

<% form_for [@affiliate, Event.new] do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.submit 'Add Event' %>
  </p>
<% end %>

<%= link_to 'Edit', edit_affiliate_path(@affiliate) %> |
<%= link_to 'Back', affiliates_path %>