<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Affiliates: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'ucp' %>
</head>
<body>

<div id="brandingbar">
  <div id="bbinner">a <a id="sllink" title="Life Without Limits" href="http://ucp.org"/>UCP Life Labs</a> experiment
    </div>
</div>

<div id="contentwrap">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
</div>
<div id="add_affiliate">
<%= link_to 'New affiliate', new_affiliate_path %>
<% # link_to 'View external source', :controller => "affiliates", :action => "getfeed"   %>
</div>

</body>
</html>
