<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Affiliates: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'ucp', 'nav', 'framework' %>
	<%= javascript_include_tag :defaults %>
	<%= GMap.header %>
</head>
<body>
	<div id="tophat">
	<div id="tophat_content">
		<div id="tophat_msg">We are currently remodeling. <a href="">Find out how you can help.</a></div>
		<div id="affnet_link"><a href="/intranet/index.cfm"><img src="/images/padlock.png" alt="padlock icon">&nbsp;UCP AffNet Entrance</a></div>
	</div>
</div>

<div id="wrapper">
	<div id="header">
	  <div id="logo">a <a title="Life Without Limits" href="http://ucp.org"/>UCP Life Labs</a> experiment</div>
		<%= render :partial => 'affiliates/search' %>
	</div>
	<div class="clearer">	</div>
	<%= render :partial => 'layouts/navigation' %>
	<div id="mainwrapper">
		<%= render :partial => 'affiliates/filter' %>
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield %>
		</div>			
	</div>
	
	<%= render :partial => 'layouts/footer' %>

</div>


</body>
</html>
