<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Affiliates: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'ucp', 'nav', 'framework' %>
	<%= javascript_include_tag :defaults %>
	<%= GMap.header %>
</head>
<body>
	<div id="tophat">
	<div id="tophat_content">
		<div id="affnet_link"><%= link_to "Register", new_user_path %> | <%= link_to "Log in", login_path %>   </div>
	</div>
</div>

<div id="wrapper">
	<div id="header">
	  <div id="logo"><img src="/images/logo.jpg" width="150" height="87" alt="UCP Logo" /></div>
		<%= render :partial => 'affiliates/search' %>
	</div>
	<div class="clearer">	</div>
	<%= render :partial => 'layouts/navigation' %>
	<div id="mainwrapper">
		<%= yield :filter %>
		<div id="content">
			<p style="color: green"><%= flash[:notice] %></p>

			<%= yield %>
		</div>			
	</div>
	
	<%= render :partial => 'layouts/footer' %>

</div>


</body>
</html>
